@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #05060a;
  color: #e7ecf5;
}

::selection {
  background: rgba(110, 231, 255, 0.3);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(110, 231, 255, 0.25);
  border-radius: 999px;
}
